<% layout("/layouts/boilerplates") %>
<div class="row mt-3">
  <div class="col-8 offset-2">

  
  
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
      <lable for="title" class="form-label">Title</lable>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
      <div class="valid-feedback">Title looks good!</div>
      </div>

    
      <div class="mb-3">
        <lable for="description" class="form-label">Discription</lable>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">please enter a short Description</div>
      </div>

      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= listing.image.url%>">
      </div>
        


      <div class="mb-3">
      <lable for="image[url]" class="form-label">Upload New Image</lable>
      <input name="listing[image][url]" value="<%= listing.image.url %>" type="file" class="form-control" />
      <div class="invalid-feedback">please enter a valid link for image</div>
      </div>

      <div class="row">
      <div class=col-md-6 mb-3>
        <lable for="price" class="form-label">Price</lable>
        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
        <div class="invalid-feedback">price should be valid</div>
      </div>
      <div class=col-md-6 mb-3>
        <lable for="country" class="form-label">country</lable>
        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required />
        <div class="invalid-feedback">country name should be valid</div>

      </div>
    </div>

    <div class="mb-3">
      <lable for="location" class="form-label" >Location</lable>
      <input name="listing[location]" placeholder="kolkata, jaipur, pune, mumbai" type="text" class="form-control" required>
      <div class="invalid-feedback">location should be valid</div>

  </div>
  


    <button class="btn btn-dark edit-btn mt-3">Edit</button>
  </form>
</div>
</div>

